[user]
	name = swimmingone
	email = dev.swimmingone@gmail.com
[core]
	precomposeunicode = true
	quotepath = false
	editor = code --wait
	autocrlf = input
	excludesfile = /Users/yooyoung-in/.gitignore_global
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[credential]
	helper = cache
[commit]
	template = /Users/yooyoung-in/.stCommitMsg
	verbose = true
[init]
	defaultBranch = main
[pull]
  rebase = true
[alias]
  sw = switch
  sc = switch -c
  c = commit
  ca = !git add -A && git commit -m 
  last = log -1 HEAD
  l = log --graph --all --pretty=format:'%C(yellow)%h%C(cyan)%d%Creset %s %Cgreen(%cr) %C(magenta)<%an>%Creset'
  hist = log --graph --all --pretty=format:'%C(yellow)[%ad]%C(reset) %C(green)[%h]%C(reset) | %C(white)%s %C(bold red){{%an}}%C(reset) %C(blue)%d%C(reset)' --date=short
[push]
	autoSetupRemote = true
	followTags = true
	default = simple
[column]
	ui = auto
[branch]
	sort = -committerdate
[diff]
	colorMoved = plain
	mnemonicPrefix = true
	renames = true
	algorithm = histogram
[fetch]
	pruneTags = true
	all = true
	prune = true
[help]
	autocorrect = prompt
[rerere]
	autoupdate = true
	enabled = true
[rebase]
	autoStash = true
	updateRefs = true
	autoSquash = true
